*, 
*::before,
*::after {
box-sizing: border-box;
}

:root {
--header_background:black;

}




html {
    box-sizing: border-box;

}

body {
    margin: 0;
    

}


/* Navbar */
header {
margin: 0;
background-color:var(--header_background);
text-align: center;
position: fixed;
width: 100%;
top:0;
z-index:999;
background-color: white;
}

nav {
    position: absolute;
    text-align: left;
    top:100%;

    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

   
    
   
  
}

nav ul {
    margin: 0px;
    padding:0px;
}

.nav_head {

    display:flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: white;
    background-color:#303030;
   
    

  

}



.fa-bars {
    margin:0.5rem;
}

.fa-apple {
    margin:0.5rem;
    color:white;
    font-size: 1.4rem;
}

.fa-briefcase {
    margin:0.5rem;
    color:white;
    font-size: 1.3rem;
}



nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

.search {
    /* width: 90%; */
    min-width: 85%;
    padding:0.7rem;
    margin:2rem 0rem 0px 2rem;
    border-radius: 5px;
    background-color:#444444;
    color:#6E6E73;
    border: none;
    font-size: 1.2rem;
    

}



.nav_links_span > span > li > a {
    margin-left:1.3rem;
    text-decoration: none;
    color:#EDEDED;

}

nav a {
    color:white;
}

 nav li {
  
    margin-bottom: 1em;
   
}

.nav_toggle:checked ~ nav {
 
    transform: scale(1,1);
    background-color: black;

    
}

.nav_toggle {
    display:none;
}



hr {
  
    max-width: 90%;
    margin-left:1.3rem;
    border-color:#6E6E73;
}

.search_hr {
margin-left: 0px;
min-width: 100%;
margin-top: 0px;


}












/* IMac */


.evaluate {
    display:inline-block;
    background-color: #0071E3;
    padding: 2rem;
    width: 100%;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 1.3rem;
    font-size: 0.9rem;
}


.evaluate:hover {
  text-decoration: underline;

}

.fa-chevron-right {
    font-size: 0.7rem;
}


.shop_box {
    text-align: center;
    background-color: #eeeeee;
    margin: 0px;
    padding: 1.1rem;
}

.shop_box > a {
    text-decoration: none;
    color:#0071E3;
    font-size: 0.9rem;
}



.shop_box > a:hover {
    text-decoration: underline;

}




.Imac_texts {
display:inline-block;
margin-top: 0px;
background: url("Images/hero_mob.jpg");
width: 100%;    
background-size: cover;             
background-repeat:no-repeat;
background-position: center center; 
height: 85vh;
text-align: center;
text-decoration: none;
color:black;
position: relative;


}


.Imac_texts > h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}



.Imac_texts > p {
    color:#777777;
}

.say_hello {
    color:black !important;
    margin-top: 0px;
}

.Imac_texts > a {
    text-decoration: none;
    color:#0071E3;
    margin: 1rem;
    font-size: 1.2rem;
}




/* Iphone 12*/

.Iphone_12_texts {
display:inline-block;
margin-top: 0px;
background: url("Images/iphone\ 12\ mobile.jpg");
width: 100%;    
background-size: cover;             
background-repeat:no-repeat;
background-position: center center; 
height: 85vh;
text-align: center;
text-decoration: none;
color:black;
position: relative;
padding:2rem;
}

.Iphone_12_texts > h2 {
    font-size: 1.9rem;
}

.from_text {
    color:#777777;
}


.Iphone_12_texts  > a {
    text-decoration: none;
    color:#0071E3;
    margin: 1rem;
    font-size: 1.1rem;
}



/* Iphone 12 pro*/
.Iphone_12_pro_texts {
    display:inline-block;
    margin-top: 0px;
    background: url("Images/iphone\ 12\ pro\ mobile.jpg");
    width: 100%;    
    background-size: cover;             
    background-repeat:no-repeat;
    background-position: center center; 
    height: 85vh;
    text-align: center;
    text-decoration: none;
    color:white;
    position: relative;
    padding:1rem;
    }



    .Iphone_12_pro_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 1rem;
        font-size: 1.1rem;
    }


    .Iphone_12_pro_texts p {
       color:#777777;
    }




    /* privacy */

    .privacy {
    
        padding:1rem;
        padding-top: 3rem;
        background-color: black;
        height:70vh;
        color:white;
        text-align: center;
    }

    .privacy h2 {
        font-size: 2.3rem;
    }
    .privacy > p {
        color:#777777;
    }

    .privacy > img {
        height:3.5rem;
    }


    .privacy > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
    }


    .fa-play-circle {
        font-size: 1rem;
        margin-left: 0.4rem;
    }




    /* Ipad Pro */

    .Ipad_pro_texts {
        display:inline-block;
        margin-top: 0px;
        background: url("Images/ipad_mobile.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:white;
        position: relative;
        padding:1rem;
        }

    .Ipad_pro_texts > h2 {
        font-size: 2rem;
    }

    .super {
        font-size: 1.2rem;
       
    }

    .order {
        color:#777777;
        font-size: 0.9rem;
    }


    .Ipad_pro_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
    }




     /* Apple watch */

     .apple_watch_texts {
        display:inline-block;
        margin-top: 0px;
        background: url("Images/watch.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:white;
        position: relative;
        padding:1rem;
        }


    .apple_watch_texts > img {
        height:3.5rem;
    }


    .apple_watch_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
    }


   
    /* Moms day */

    .moms_day_texts{
        display:inline-block;
        margin-top: 0px;
        background: url("Images/moms.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:white;
        position: relative;
        padding:1rem;
        }


        .moms_day_texts > h2 {
            font-size: 2rem;
            color:black;
        }




        .moms_day_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
        display: block;
    }





/* Card */


.card_texts{
    display:inline-block;
    margin-top: 0px;
    background: url("Images/card.jpg");
    width: 100%;    
    background-size: cover;             
    background-repeat:no-repeat;
    background-position: center center; 
    height: 85vh;
    text-align: center;
    text-decoration: none;
    color:black;
    position: relative;
    padding:1rem;
    }

    .card_texts > img {
        height:1.9rem;
    }


    .card_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
        display: block;
    }




    /* the year */

    .the_year {
        position: relative;
    }
    
    .the_year_texts{
        display:inline-block;
        margin-top: 0px;
        background: url("Images/penguin.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:black;
        position: relative;
        padding:2rem;
        display:flex;
        flex-direction: column;
        align-items:  center;
        }
    



    .the_year_texts > img {
        height:1.9rem;
        
    }

    .the_year_writing_img {
        height:3rem !important;
    }

    .the_year_texts > p {
        position: absolute;
        top:80%;
        text-align: center;
        color:white;
    }


    .the_year_texts > a {
        position: absolute;
        top:90%;
       
        text-align: center;
        color:white;
        text-decoration: none;
    }



    /* footer_texts */

    footer {
        background-color: #eeeeee;
    }

    .footer_texts {
      
        color:#777777;
        font-size: 0.8rem;
    }

    .terms_text {
        color:black !important;
        text-decoration: none;
    }

    button {
        color:#777777;
    }


    /* footer_drops */


    .footer_hr1 {
        margin-left: 0px;
         min-width:100%;
          border-color:#86868B;
          margin-top:1rem;
          margin-bottom: 2rem;
        
     }
      
    
       

    .footer_hr {
       margin-left: 0px;
        min-width:100%;
         border-color:#86868B;
     
   
       
    }
    

    .footer_drops {
        display:flex;
        flex-direction: column;
       

       
    }

   


    /* shop and learn drops */
    button {
        display:flex;
        justify-content: space-between;
        border: none;
        background-color: transparent;
    }


    button:focus {
        outline:none;
    }

    .dropdown-check {
        display:none;
    }
    
    .dropdown {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
   
  
 
    }

    .dropdown-check:checked ~ .dropdown {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
       
     
    }


    .dropdown a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
       
    }






      /* services drops */


      .dropdown-check2 {
        display:none;
    }
    
    .dropdown2 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check2:checked ~ .dropdown2 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown2 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }










    /* account drops */


    .dropdown-check3 {
        display:none;
    }
    
    .dropdown3 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check3:checked ~ .dropdown3 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown3 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }




    /* apple store drops*/


    .dropdown-check4 {
        display:none;
    }
    
    .dropdown4 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check4:checked ~ .dropdown4 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown4 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }




       /* for business drops*/


    .dropdown-check5 {
        display:none;
    }
    
    .dropdown5 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check5:checked ~ .dropdown5 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown5 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }




       /* for education drops*/


    .dropdown-check6 {
        display:none;
    }
    
    .dropdown6 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check6:checked ~ .dropdown6 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown6 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }




    /* for healthcare drops */

  


    .dropdown-check7 {
        display:none;
    }

    .dropdown7 {

    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;


    }

    .dropdown-check7:checked ~ .dropdown7 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
    
    }


    .dropdown7 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }





       /* for government drops*/


       .dropdown-check8 {
        display:none;
    }
    
    .dropdown8 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check8:checked ~ .dropdown8 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown8 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }





       /* apple values drops*/

     .dropdown-check9 {
        display:none;
    }
    
    .dropdown9 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check9:checked ~ .dropdown9 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown9 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }




       /* about apple drops*/


       .dropdown-check10 {
        display:none;
    }
    
    .dropdown10 {
  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
    display:none;
  
 
    }

    .dropdown-check10:checked ~ .dropdown10 {
        display: block;
        display:flex;
        flex-direction: column;
        align-items: start;
        margin: 0px;
     
    }


    .dropdown10 a {
        text-decoration: none;
        color:#777777;
        font-size:0.8rem;
        margin:1rem;
    }





    /* footer end */

    .footer_end {
        padding:1rem;

    }

    .footer_end > p {
       
        font-size: 0.8rem;
    }

    .footer_end > p >  a {
        color:#0071E3;
        text-decoration: none;
    }

    .footer_drops_query_box {
        display:none;
    }

    .footer_end_query {
        display:none;
    }

    .copy_rights_query {
        display:none;
    }




     /* copy rights */


    .copy_rights {
        padding:1rem;
        color:#777777;
    }

    .copy_rights p {
        font-size: 0.8rem;
    }

    .copy_rights span> a {
        font-size: 0.8rem;
        color:#777777;
        text-decoration: none;
    }




    .privacy_nd_ipad_query {
        display: none;
    }
   
    .watch_nd_mom_query {
        display:none;
    }

    .card_nd_year_query {
        display:none;
    }


    .footer_drops_query {
        display:none;
    }







@media only screen and (min-width:768px) {

    /* Navbar */

    .header {
        display: none;
    }

    .nav_toggle_label {
        display: none;
    }

    nav {
        all:unset;
      
       transform: scale(0,0);
       
     
       
    }

  
   
  

    hr {
        display: none;
       
    }

    .search {
        display: none;
    }

   

    .fa-apple, .fa-briefcase {
      padding:0px;
      margin: 0px;
    }

    .header_2 > nav >ul {
     
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
       height: 3rem;
       background-color:#303030;

    }


    .nav_links{
     
        
        text-decoration:none;
    }





    /* IMaC */



.Imac_texts {
    display:inline-block;
    margin-top: 0px;
    background: url("Images/hero_desk.jpg");
    width: 100%;    
    background-size: cover;             
    background-repeat:no-repeat;
    background-position: center center; 
    height: 82vh;
    text-align: center;
    text-decoration: none;
    color:black;
    position: relative;
    
    
    }

        
        
        .Imac_texts > h2 {
            font-size: 4rem;
            font-weight: bold;
            margin: 0px;
           
        }
        
        
        
        .Imac_texts > p {
            font-size: 1.4rem;
           
        }





        
      /* Iphone 12*/

        .Iphone_12_texts {
        display:inline-block;
        margin-top: 0px;
        background: url("Images/iphone\ 12\ desktop.jpg");
        width: 100%;    
        background-size: 100% 140%;  
            
        background-repeat:no-repeat;
        background-position: center center; 
        height: 70vh;
        text-align: center;
        text-decoration: none;
        color:black;
        position: relative;
        padding:2rem;
        }

        .Iphone_12_texts > h2 {
            font-size: 1.9rem;
        }




        /* Iphone 12 pro*/
           .Iphone_12_pro_texts {
            display:inline-block;
            margin-top: 0px;
            background: url("Images/iphone\ 12\ pro\ desktop.jpg");
            width: 100%;    
            background-size: cover;             
            background-repeat:no-repeat;
            background-position: center center; 
            height: 85vh;
            text-align: center;
            text-decoration: none;
            color:white;
            position: relative;
            padding:1rem;
            }




           


            .Iphone_12_pro_texts >h2 {
                font-size: 2.2rem;
                margin: 0px;
            }


            .privacy  .Ipad_pro {
                display: flex;
            }


            /* Privacy nd IPad Pro queries*/

            .privacy{ display:none;}
            .Ipad_pro{display:none;}

        
            .privacy_nd_ipad_query {
                display: flex;
                margin: 0px;
                
                
            }

            .privacy_nd_ipad_query > * {
                width: 100%;

            }

            .privacy_query {
    
                padding:1rem;
                padding-top: 3rem;
                background-color: black;
              
                color:white;
                text-align: center;
                margin: 0.5rem;
               
            }
        
            .privacy_query h2 {
                font-size: 2.3rem;
            }
            .privacy_query > p {
                color:#777777;
            }
        
            .privacy_query > img {
                height:3.5rem;
            }
        
        
            .privacy_query> a {
                text-decoration: none;
                color:#0071E3;
                margin: 0.1rem;
                font-size: 1.1rem;
            }
        
        
            .fa-play-circle {
                font-size: 1rem;
                margin-left: 0.4rem;
            }



            .Ipad_pro_query {
                margin: 0.5rem;
            }


            .Ipad_pro_query_texts {
                display:inline-block;
                margin-top: 0px;
                background: url("Images/ipad_desktop.jpg");
                width: 100%;    
                background-size: cover;             
                background-repeat:no-repeat;
                background-position: center center; 
                height: 85vh;
                text-align: center;
                text-decoration: none;
                color:white;
                position: relative;
                padding:1rem;
                }
        
            .Ipad_pro_query_texts > h2 {
                font-size: 2rem;
                margin-bottom: 0.3rem;
            }
        
            .super {
                margin-top: 0.3rem;
                font-size: 1.2rem;
               
            }
        
            .order {
                color:#777777;
                font-size: 0.9rem;
            }
        
        
            .Ipad_pro_query_texts > a {
                text-decoration: none;
                color:#0071E3;
                margin: 0.1rem;
                font-size: 1.1rem;
            }
        




            /* watch and mom queries */

            .Apple_watch {
                display:none;
            }

            .Moms_day {
                display:none;
            }

            .watch_nd_mom_query {
                display:flex;
    
            }
    
            .watch_nd_mom_query > * {
                width: 100%;
            }




        .moms_day_query {
            margin: 0.5rem;
        }
      

        .moms_day_query_texts{
            display:inline-block;
            margin-top: 0px;
            background: url("Images/moms.jpg");
            width: 100%;    
            background-size: cover;             
            background-repeat:no-repeat;
            background-position: center center; 
            height: 85vh;
            text-align: center;
            text-decoration: none;
            color:white;
            position: relative;
            padding:1rem;
            }
    
    
            .moms_day_query_texts> h2 {
                font-size: 2rem;
                color:black;
            }
    
    
    
    
            .moms_day_query_texts > a {
            text-decoration: none;
            color:#0071E3;
            margin: 0.1rem;
            font-size: 1.1rem;
            display: block;
        }




              /* Apple watch */

     .apple_watch_query {
        margin: 0.5rem;
     }

     .apple_watch_query_texts {
        display:inline-block;
        margin-top: 0px;
        background: url("Images/watch.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:white;
        position: relative;
        padding:1rem;
        }


    .apple_watch_query_texts > img {
        height:3.5rem;
        margin-top: 0.5rem;
    }


    .apple_watch_query_texts > a {
        text-decoration: none;
        color:#0071E3;
        margin: 0.1rem;
        font-size: 1.1rem;
    }


   



    /* card_nd_the_year_query */

    .card {
        display:none;
    }

    .the_year {
        display:none;
    }

    .card_nd_year_query {
        display:flex;
    }


    .card_nd_year_query > * {
       width: 100%;
    }

    .card_query {
        margin: 0.5rem;
    }

    .card_query_texts{
        display:inline-block;
        margin-top: 0px;
        background: url("Images/card.jpg");
        width: 100%;    
        background-size: cover;             
        background-repeat:no-repeat;
        background-position: center center; 
        height: 85vh;
        text-align: center;
        text-decoration: none;
        color:black;
        position: relative;
        padding:1rem;
        }
    
        .card_query_texts > img {
            height:1.9rem;
        }
    
    
        .card_query_texts > a {
            text-decoration: none;
            color:#0071E3;
            margin: 0.1rem;
            font-size: 1.1rem;
            display: block;
        }
    
    
        
    
        .the_year_query {
            margin: 0.5rem;
        }
      
        .the_year_query_texts{
            display:inline-block;
            margin-top: 0px;
            background: url("Images/penguin.jpg");
            width: 100%;    
            background-size: cover;             
            background-repeat:no-repeat;
            background-position: center center; 
            height: 85vh;
            text-align: center;
            text-decoration: none;
            color:black;
            position: relative;
            padding:2rem;
            display:flex;
            flex-direction: column;
            align-items:  center;
            }
        
    
    
    
        .the_year_query_texts > img {
            height:1.9rem;
            
        }
    
        .the_year_query_writing_img {
            height:3rem !important;
        }
    
        .the_year_query_texts > p {
            position: absolute;
            top:80%;
            text-align: center;
            color:white;
        }
    
    
        .the_year_query_texts > a {
            position: absolute;
            top:90%;
           
            text-align: center;
            color:white;
            text-decoration: none;
        }








        /* footer*/

        .footer_drops {
            display:none;
        }
        
        .footer_texts {
            margin-top: 0px;
            padding-left:9rem;
            padding-right:9rem;
            padding-top:0.5rem;
        }

        
        .footer_drops_query_box {
            display: flex;
            margin-top: 0px;
            padding-left:9rem;
            padding-right:9rem;
        }

        .footer_drops_query_box > * {
            width: 100%;
        }



        .footer_drops_query_box a {
            display:block;
            text-decoration: none;
             color:#777777;
             font-size: 0.8rem;
             margin:0.8rem;
        }

        .footer_drops_query_box p {
            margin:0.8rem;
        }




        .footer_end {
            display:none;
        }

        .copy_rights {
            display:none;
        }

        .footer_end_query_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:#777777;
            font-size: 0.9rem;
        }

        .footer_drops_query_box a:hover {
            text-decoration: underline;
        }

        .footer_end_query {
            display: inline;
         
        }

        .footer_end_query a{
            color:#0071E3;
            text-decoration: none;
         
        }



        .footer_end_query a:hover{
            text-decoration: underline;
         
        }


        .copy_rights_query {
            display: inline;
            display: flex;
            justify-content: space-between;
            padding:0.9rem;
         
        }

        .copy_rights_query a {
            color:#777777;
            text-decoration: none;
        }

        .copy_rights_query a:hover {
          
            text-decoration: underline;
        }






       



}